@CHARSET "UTF-8";



body{margin:0;
	font-family:'Source Sans Pro','メイリオ','Hiragino kaku gothic  Pro',sans-serif}


header h1{marjin-top:0;
		margin-bottom:20px;
		font-size:30px;
		color:#ffffff;
		text-align:center;
		background-color:#000000;}

header p img {max-width:100%;
		height:auto;
		}
article p{
		font-size:10px;
		margin:8px 20px;
}

 table {
 	border:none;
	margin:auto;
	margin-bottom:20px;
	border :solid 1px #999;
	width:90%;
	 height:auto;
		}

.iro{
background-color:#f6ae54;
}
.btn{
	text-align:center;
	}
button{
		background-color:#bbe2f1;
		width:90%;
		font-size:20px;
		}
td img{
		width:50%;
		}
.imagecd{
	border:none;
	background-color:#f0e68c;
	text-align:center;
}

.nyuryoku{background-color=:#999999;}

article form{margin:center;}

article td{

		font-family:"メイリオ";
		border:none;
		padding:10px;
		text-align:left;

		}
.into{
		font-size:10px;
		background-color:#f0e68c;
}
article th{

		font-family:"メイリオ";
		padding:10px;
		text-align:right;
		background-color:#f0e68c;
		width:50%;
		}

body p img{
	max-width:100%;
		height:auto;
	margin-top:80px;
	margin-bottom:80px;
}
.erar p{
	text-align:center;
	font-size:30px;
}

.toppage{
	text-align:right;
	font-size:15px;
	margin:10px 50px;
}
.toppage2{
	text-align:center;
	font-size:20px;
	margin:20px 50px;
}

.copyright{background-color:#444444;
		padding:10px;
		text-align:center;}

.copyright p{margin:0;
		color:#ffffff;
		font-size:14px;
		}





