@charset "utf-8";

*{margin:0px;
	madding:0px;
	border:none;}

body{margin:0px;
padding:0px;
	font-family:'Source Sans Pro','メイリオ','Hiragino kaku gothic  Pro',sans-serif
	}

header,body{text-align:center;}
article h1{margin-top:10px;
		vertical-align:middle;
		padding-top:10px;
		margin-bottom:30px;
		font-size:100%;
		}

header img {width:20%;
		height:auto;
		}
header{background-color:#fff;}
article{
	height:500px;
	background-color:#ffd700;}

	article p{margin-bottom:20px;}
