@charset "utf-8";

*{margin:0px;
	madding:0px;
	border:none;}

body{margin:0px;
padding:0px;
	font-family:'Source Sans Pro','メイリオ','Hiragino kaku gothic  Pro',sans-serif
	}

header h1{margin-top:10px;
		margin-bottom:10px;
		width:70%;
		height:100%;
		font-size:100%;
		color:#ffffff;
		padding:5px;
		background-color:#dc143c;}

header img {width:100%;
		height:auto;
}

header p{margin-top:10px;
}

.box p{font-size:20px;
margin:30px;
text-align:center;}
.box h2{
	margin:0px;
	madding:0px;
	font-size:2em;
text-align:center;
margin-bottom:10px;
}

.box p img{width:60%;
		box-shadow:6px 6px 12px #aaa
}
.box h2{margin-bottom:50px;
	color:#1e90ff;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.asaichi_box,.witterbox{display:flex;
margin-bottom:60px;
}

.item1 p,.item2 p.item3 p,.item4 p,.item5 p,.item6 p,.item7 p,.item8 p,.item9 p{width:100%;
margin-right:20px;
margin-left:20px;
}

.box1 .item img,.box2 .item2 img,.box3 .item3 img,.box4 .item4 img,.box5 .item5 img{width:100%;}
.box6 .item6 img,.box7 .item7 img,.box8 .item8 img,.box9 .item9 img,.asaichi_box,asaichi img{width:100%;}

.box10 img{width:100%;}

.box1 .item img{width:90%;}
.item p{margin-left:50px;
	margin-right:20px;
	margin-top:30%;}

.box2 .item2 img{
	margin-right:5%;
	}
.item2 p{margin-left:20px;
margin-top:10%;
}
.box2{margin-left:25%;}


.box3{margin-left:30%;}

.item3 p{margin-left:20px;
margin-top:15%;
}
.box5{margin-left:10%;}
.item5 p{margin-top:30%;}

.item6 p{margin-top:15%;
margin-right:20px;
}

.asaichi_box{
	margin-left:30%;
	width:50%;

	}

.asaichi{width:100%;}
.asaichi img{width:100%;}
.asaichi{
	margin-left:20px;
	border :solid 1px #999;
	padding:10px;
}

.item7 p{margin-top:30%;
margin-right:20px;}

.box8{margin-left:15%;}
.box8 .item8 img{width:90%;}
.item8 p{margin-top:30%;
margin-left:0px;
}

.box9{margin-left:10%;}

.item9 p{margin-top:30%;
}
.box10 h3{
	  font-weight: normal;
		margin-bottom:10px;
}
.box10 p{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	}
.asaichi_box  a:hover {color:#fff;
	background-color:#b3e61a;}

.witterbox{margin-left:25%;}
.witterbox .wittertext img{width:50%;}
.witterlink{

	margin-top:100px;
	margin-bottom:30px;
	}
.witterbox .witterlink a:hover {

	color:#fff;
	background-color:#ffd700;}
.copyright{background-color:#444444;
		padding:10px;
		text-align:center;}

.copyright p{margin:0;
		color:#ffffff;
		font-size:14px;
		}

.pagetop {

    display: none;

    position: fixed;

    bottom: 30px;

    right: 15px;

}

.pagetop a {

    display: block;

    background-color: #ccc;

    text-align: center;

    color: #222;

    font-size: 12px;
    text-decoration: none;

    padding: 5px 10px;

    filter:alpha(opacity=50);

    -moz-opacity: 0.5;

    opacity: 0.5;

}

.pagetop a:hover {

    display: block;

    background-color: #b2d1fb;

    text-align: center;

    color: #fff;

    font-size: 12px;

    text-decoration: none;

    padding:5px 10px;

    filter:alpha(opacity=50);

    -moz-opacity: 0.5;

 opacity: 0.5;
}

.scroll-animation-obj {
  opacity: 0;
  transition: all 0.5s ease 0.5s;
}
.scroll-animation-hop {
  transform: translate(0,60px);
}
