@charset "utf-8";

*{margin:0px;
	madding:0px;
	}

body{margin:0px;
padding:0px;
	font-family:'Source Sans Pro','メイリオ','Hiragino kaku gothic  Pro',sans-serif
	}
h1{

	font-size:170%;}
header,body{text-align:center;}
header img{
	margin-top:30px;
	margin-bottom:20px;
	width:30%;}
header h1{color:#9acd32;
	margin-top:10px;
	margin-bottom:10px;
		padding:5px;
		background-color:#fffacd;}
article h1{
	margin-top:10px;
		vertical-align:middle;
		padding-top:15px;
		margin-bottom:30px;
		font-size:100%;
		}

article p{margin-bottom:10px;}
article{
	height:250px;
	background-color:#ecd5ee;}

.copyright{background-color:#444444;
		padding:10px;
		text-align:center;}

.copyright p{margin:0;
		color:#ffffff;
		font-size:14px;
		}
